<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Notification:</h1>
    <p>
        You have new notification!
        <br>
        <b>Player: </b> <%= @player.name %>
    </p>
  </body>
</html>